.app-c-published-dates {
  @include core-16;
}

.app-c-published-dates__toggle {
  display: none;

  .js-enabled & {
    display: inline-block;
  }
}

.app-c-published-dates__change-history {
  margin: 20px 0;
}

.app-c-published-dates__change-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.app-c-published-dates__change-date {
  display: block;
  @include bold-16;
}

.app-c-published-dates--history {
  padding-top: $gutter-one-third;
  border-top: 1px solid $border-colour;
}

// margins would ideally be handled by a general model for all components
// but we don't have one yet, so this is in anticipation of that
// suggested scale is as follows, not fully implemented
// no margin = 0
// $gutter = 4
// responsive-bottom-margin = 5
.app-c-published-dates--margin-bottom-4 {
  margin-bottom: $gutter;
}

.app-c-published-dates--margin-bottom-5 {
  @include responsive-bottom-margin;
}
